<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="org.apache.cordova.images"
      version="1.0.0">
    <name>ImagePlugin</name>
    <repo>https://github.com/18502778916/cordoba-image-slideshow.git</repo>
     <js-module src="www/images.js" name="ImagePlugin">
    <clobbers target="showImages" />
  </js-module>


    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="showImages" >
                <param name="android-package" value="org.apache.cordova.images.ImagePlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
         <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/ImagePlugin.java" target-dir="src/org/apache/cordova/images" />
         <source-file src="src/android/SampleAdapter.java" target-dir="src/org/apache/cordova/images" />
         <source-file src="src/android/HackyViewPager.java" target-dir="src/org/apache/cordova/images" />
        <source-file src="libs/photoview-library-1.2.2.jar" target-dir="libs" />
        <framework src="com.android.support:appcompat-v7:23.2.1"></framework>
        <framework src="com.github.bumptech.glide:glide:3.6.1"></framework>
         
       <!-- <framework src="PushSDK" custom="true"  /> -->
        	<info>
               This plugin is only applicable for versions of cordova-android greater than 4.0. If you have a previous platform version, you do *not* need this plugin since the whitelist will be built in.
          </info>
    </platform>
	


</plugin>
